<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        var test = '{{ val }}';
    </script>
    <link rel="stylesheet" href="../static/styles.css">
    <title>COVID BOT</title>
</head>

<body>
    <header>
        <div class="heading">
            <h1><span>COVID-19</span> BOT</h1>
        </div>
        <div class="info">
            <h1><a href="#">Repo</a></h1>
        </div>
    </header>

    <br><br>
    <main>
        <div class="container">

            <div class="inputs">
                <form>

                    <input type="text" id="text" name="text">
                    <!-- <h1 id="response">{{val}}</h1> -->

                    <button class="btn-primary btn-lg">Send</button>
                </form>
            </div>
        </div>
    </main>


    <footer>

    </footer>
    <script src="../static/CoronaDetection.js"></script>
</body>

</html>

<html>